<%- include ('./partiels/header.ejs') %>
 <body>
    <%- include('./partiels/navbar.ejs') %>
        <main>
            <section>
                <form id="form-login">
                    <h1>Finalize sua compra</h1><br><br>
                    <label for="">Número do cartão:</label>
                    <input type="number" placeholder="Digite o número" required>

                    <label for="">Nome do titular do cartão:</label>
                    <input type="text" placeholder="Digite o nome do titular" required>

                    <label for="">Débito</label>
                    <input type="radio" name="debito" id="debito">
                    <label for="">Crédito</label>
                    <input type="radio" name="credito" id="credito"><br><br>
                    <label for="">Vencimento:</label>
                    <input type="date" name="date" id="date">
                    <label for="">Código de segurança:</label>
                    <input type="text" name="codigo" id="codigo">
                        
                    <button type="submit">FINALIZAR</button>
                </form>

                <form id="form-cadastro">
                    <h1>Pagamento em pix</h1>
                    <img src="../public/img/qrcode.jpg">  
                    <button type="submit">COPIA E COLA QR CODE</button>    
                </form>
            </section>
        </main>
        <%- include('./partiels/footer.ejs') %>
            
</body>
</html>