<%- include ('./partiels/header.ejs') %>

    <body>
        <%- include('./partiels/navbar.ejs') %>
            <main>
                <section>
                    <form id="form-login">
                        <h2>Faça Login</h2>
                        <input type="email" placeholder="Digite seu email" required>
                        <input type="password" placeholder="Digite sua senha" required>
                        <button type="submit">ENTRAR</button>
                        <a href="#">
                            <p>esqueci minha senha</p>
                        </a>
                    </form>

                    <form id="form-cadastro">
                        <h2>Criar Conta</h2>
                        <input type="text" placeholder="Digite seu nome completo" required>
                        <input type="email" placeholder="Digite seu email" required>
                        <input type="tel" placeholder="Digite seu telefone" required>
                        <input type="password" placeholder="Criar senha" required>
                        <input type="password" placeholder="Confirma senha" required>
                        <button type="submit">CADASTRAR</button>
                    </form>
                </section>
            </main>
            <%- include('./partiels/footer.ejs') %>
                
    </body>
    </html>