

/*sessão da página*/
section{
    width: 100%;
    max-width: 1100px;
    display: flex;
  justify-content: center;
   
    margin:0 auto;
    gap: 50px;
    margin-top: 50px;
    text-align: center;
}
/*formulario da página*/
#form-login,#form-cadastro{
    display: flex;
    flex-direction: column;
    font-weight: bold;
    width: 320px;
}
h2{
    font-weight: bolder;
}
form > input{
    padding: 10px;
    margin: 8px;
    text-align: center;
}
form > button{
    width: 150px;
    margin:0 auto;
    padding: 10px;
    color:#fff;
    background-color: #3b3737;
    margin-top: 20px;
    cursor: pointer;
}
form > button:hover{
    background-color: rgb(24, 20, 20,0.5);
}
form p{
    margin-top: 20px;
    color:#3b3737
}
@media(max-width:700px){
    section{
        gap: 20px;
        }
        section{
            flex-direction: column;
           align-items: center;
        }
}
@media(max-width:524px){
    section{
        gap:20px;
    }
@media(max-width:430px){
    section{
        display: flex;
        flex-direction: column;
        align-items: center;
       }
     #form-cadastro{
         margin-top: 10px;
         }
}}

    





    


















