*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    font-family:'opens sans',sans-serif;
    
}
body,html{
    height: 100%;
}
header{
    width: 100%;
    max-width: 1100px;
    height: 108px;
    margin: 0 auto;
    margin-top: 20px;
   background-image: url(/img/carro.webp);
    background-position: center center;
   background-repeat: no-repeat;
   align-items: center;
   display: flex;
   justify-content: space-evenly;
   box-shadow: 10px 5px 5px black;
}
header h2{
    color:#fff;
    
     text-size-adjust: 100%;
     font-size: 2.5vh;
}
nav > ul {
    display: flex;
   
}
nav > ul > a{
   color:#fff;
   margin:50px 20px;
   font-size: 2vh;
  
}
section{
    width: 100%;
    max-width: 1100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin:0 auto;
    gap: 50px;
    margin-top: 50px;
    text-align: center;
}
#form-login,#form-cadastro{
    display: flex;
    flex-direction: column;
    font-weight: bold;
    width: 320px;
}
form > input{
    padding: 10px;
    margin: 8px;
    text-align: center;
}
form > button{
    width: 150px;
    margin:0 auto;
    padding: 10px;
    color:#fff;
    background-color: #3b3737;
    margin-top: 20px;
    cursor: pointer;
}
form > button:hover{
    background-color: rgb(24, 20, 20,0.5);
}
form p{
    margin-top: 20px;
    color:#3b3737
}
footer{
    background-image: url(/img/moto.png);
    background-size: contain;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    width: 100%;
    max-width: 1100px;
    height: 270px;
    margin: 0 auto;
    margin-top: 40px;
}
.footer-social {
    display: flex;
    justify-content: space-around;
   padding-top: 30px;
}
.footer-social li,.footer-social h3{
    color: #fff;
}
.social1{
   display: flex;
   flex-direction: column;
    gap: 20px;
 }
 .social2 > a> img{
    width: 45px;
    height: 45px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5px 0;
 }
 .footer-social img:nth-child(1){
    border-radius: 50%;
    
 }
@media(max-width:700px){
    nav{
        display: none;
    }
   
    .material-symbols-outlined {
        font-variation-settings:
        'FILL' 0,
        'wght' 500,
        'GRAD' 0,
        'opsz' 48
      }
      .material-symbols-outlined{
          color:#fff;
          background-color:#3b3737;
          padding: 10px;
          cursor: pointer;
          
          
      }
        .material-symbols-outlined:hover{
          background-color: rgb(100, 100, 100);
      }
      section{
        gap: 20px;
        }
}
@media(max-width:530px){
    nav > ul > a{
        margin:50px 5px;
}
}
@media(max-width:524px){
    section{
        gap:20px;
    }
}
@media(max-width:430px){
   header{
    justify-content: space-around;
   
    
    }
    section{
       display: flex;
       flex-direction: column;
       align-items: center;
      }
    #form-cadastro{
        margin-top: 10px;
        }
    }
@media(max-width:342px){
    header h2{
        
         margin-left: 10px;
}
@media(max-width:322px){
    header h2{
        
         margin-left: 2px;
}



    


















