<footer>
    <div class="footer-social">
        <ul class="social1">
            <a href="#">
                <li>Home</li>
            </a>
            <a href="#">
                <li>Sobre</li>
            </a>
            <a href="#">
                <li>Contato</li>
            </a>
        </ul>



        <ul class="social2">
            <h3> Social</h3>
            <a href="#">
                <a href="#"><img src="/img/facebook_2.png" alt="facebook-logo"></a>
            </a>
            <a href="#">
                <a href="#"><img src="/img/instagram_6.png" alt="instagram-logo"></a>
            </a>
            <a href="#">
                <a href="#"><img src="/img/twitter_1.png" alt="twitter-logo"></a>
            </a>
        </ul>
    </div>


</footer>
<script src="/scripts.js"></script>