<header>
    <div>
        <h2>Web Veículos</h2>
    </div>
    <span class="material-symbols-outlined" onclick="clickMenu()">
        menu
    </span>
    <nav id="itens">
        <ul >
            <a href="#">
                <li>Carros</li>
            </a>
            <a href="#">
                <li>Motos</li>
            </a>
            <a href="#">
                <li>Home</li>
            </a>
        </ul>
    </nav>


</header>